@font-face {
    font-family: 'thai_sans_literegular';
    src: url('~/assets/fonts/thaisanslite_r1-webfont.eot');
    src: url('~/assets/fonts/thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'),
         url('~/assets/fonts/thaisanslite_r1-webfont.woff2') format('woff2'),
         url('~/assets/fonts/thaisanslite_r1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}